<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看书</title>
</head>
<style>
    .mytable{
        margin: 0 auto;
    }
</style>
<body>
    <table border="1" class="mytable">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>opj</th>
        </tr>
        {% for book in all_book %}
            <tr>
                <td align="center">{{ book.id }}</td>
                <td>{{book.name}}</td>
                <td>{{book.price}}</td>
                <td>

                    <a href="/bookstore/update_book/{{book.id}}">更新</a>
                    <a href="/bookstore/delete_book?book_id={{ book.id }}">删除</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>